<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
         <!-- mobie -->
        <link href="/static/css/styles_mobile.css" rel="stylesheet">
        <!-- chatbot-->
        <link href="/static/css/chatbot.css" rel="stylesheet" />
        
        
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1  mt-c-2">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/lawgo_logo.png" alt="..." /></a></div>
                    </div>
                    <!-- desktop menu -->
                    <div class="desktop_menu">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                    </div>
                                </li>
                                
                                {% if userid %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/login">LOG IN</a>
                                    </div>
                                </li>
    
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    
                    <!-- mobile menu -->
                    <div class="mobile_menu" >
                        <div class="header">
                            <div class="menu_btn"><a href="#">       
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNmgtMjR2LTRoMjR2NHptMCA0aC0yNHY0aDI0di00em0wIDhoLTI0djRoMjR2LTR6Ii8+PC9zdmc+">
                            </a>
                            </div>
                        </div>
                        <div class="menu_bg"></div>
                        <div class="sidebar_menu">
                            <div class="close_btn">
                                <div class="close close2"></div>
                            </div>
                            <ul class="menu_wrap">
                                {% if userid %}
                                <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                <li><a href="/logout">LogOut</a></li>
                                {% else %}
                                <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">SignUp</a></li>
                                {% endif %}
                            </ul>
                        </div>
                   
                    </div>
                </div>
            </nav>            
            <!-- section 1-->
            <section class="py-3" id="features">
                <div class="container px-5 my-1">
                    <div class="row gx-5">
                        <div class="col-lg-12 small text-black-light-50 mb-5">Experience the advanced artificial intelligence technology of OpenLawGo AI!</div>
                    </div>
                    <!-- Chatbot-->
                    <div class="row gx-5" id="chatbot_box">
                    </div>
                    <!-- Chatbot-->

                    <div class="bg-black bg-gradient row gx-5 mt-5">
                        <div class="col-lg-12">
                            <div class="input-group mb-4 mt-4 ">
                                <textarea class="form-control" style="height: 95%" id="question" type="text" placeholder="Enter message .."  data-sb-validations="required">{{question}}</textarea>
                                <button  class="btn btn-outline-light"  style="width: 40px;text-align: left; margin-left:0px;" id="button-get-answer" type="button">
                                    <svg style="text-align: left; margin-left:0px;" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 ml-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="22" y1="2" x2="11" y2="13"></line>
                                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script>
            
            var g_count_chatbot_answer1_div = 0 ;
            var g_count_chatbot_answer2_div = 0 ;
            $(document).ready(function(){
                
                if ( $('#question').val() != ""){
                    question = $("#question").val() ;
                    setQuestion(question);
                    getAnswer(question);

                    $("#question").val("");
                }

                $('.menu_btn>a').on('click', function(){
                    $('.menu_bg').show(); 
                    $('.sidebar_menu').show().animate({
                        right:0
                    });  
                });
                $('.close_btn>div').on('click', function(){
                    $('.menu_bg').hide(); 
                    $('.sidebar_menu').animate({
                                                right: '-' + 50 + '%'},function(){
                                                $('.sidebar_menu').hide(); 
                                                }); 
                });

            });


            $("#button-try").click(function(){
                to_url = "/login";
                location.href = to_url;
            });

            $("#button-get-answer").click(function(){
                //alert($("#question").val());
                question = $("#question").val() ;
                setQuestion(question);
                getAnswer(question);

                $("#question").val("");
            });

            function setQuestion(message){
                answer_contents = "";
                answer_contents =  answer_contents + '<div class="row_chatbot ms-1 mb-3 py-2 bg-alice-blue">';
                
                answer_contents =  answer_contents + '<div style="width:65px" class="small text-black-50">';
                
                //answer_contents =  answer_contents + '<div id="chatbox-avatar" class="chatbox-avatar">';
                //answer_contents =  answer_contents + '<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_mr1kkmr2.json"  background="transparent" speed="1" style="width:100%;height:100%px;" loop autoplay></lottie-player>';
                //answer_contents =  answer_contents + '</div>';
                
                answer_contents =  answer_contents + '<div class="feature bg-info bg-gradient text-dark rounded-circle" >';
                answer_contents =  answer_contents + '<i class="bi bi-question-circle"></i>';
                answer_contents =  answer_contents + '</div>';
                
                
                answer_contents =  answer_contents + '</div>';
                
                answer_contents =  answer_contents + '<div style="width:70%" class="small text-black-50 div-vertical-align">';
                answer_contents =  answer_contents + message;
                answer_contents =  answer_contents + '</div>';
                
                answer_contents =  answer_contents + '</div>';

                $("#chatbot_box").append(answer_contents);
                $('#chatbot_box').scrollTop($('#chatbot_box')[0].scrollHeight);

            }

            function getAnswer(message){
                var jsonSendData = new Object() ;
                jsonSendData.question = message
                to_url = "/answer" ;

                g_count_chatbot_answer1_div = g_count_chatbot_answer1_div + 1;
                answer_contents = "";
                answer_contents =  answer_contents + '<div id="' + g_count_chatbot_answer1_div.toString()  + '" class="row_chatbot ms-1  mb-3  py-2 bg-white-smoke ">';
                answer_contents =  answer_contents + '<div style="width:65px">';
                
                //answer_contents =  answer_contents + '<div id="chatbox-avatar" class="chatbox-avatar">';
                //answer_contents =  answer_contents + '<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_hdy5hmdn.json"  background="transparent" speed="1" style="width:100%;height:100%;" loop autoplay></lottie-player>';
                //answer_contents =  answer_contents + '</div>';

                answer_contents =  answer_contents + '<div class="feature bg-primary bg-gradient text-white rounded-circle" >';
                answer_contents =  answer_contents + '<i class="bi bi-collection"></i>';
                answer_contents =  answer_contents + '</div>';
                
                answer_contents =  answer_contents + '</div>';
                answer_contents =  answer_contents + '<div style="width:70%" class="ml-2 small text-black-50 div-vertical-align ">';
                
                answer_contents = answer_contents + '<div id="progress" class="loader loader-6"></div>';
                
                answer_contents =  answer_contents + '</div>';
                answer_contents =  answer_contents + '</div>';

                $("#chatbot_box").append(answer_contents);
                $('#chatbot_box').scrollTop($('#chatbot_box')[0].scrollHeight);

                $.ajax(
                            {
                                url:to_url,
                                dataType:"json",
                                type:'POST',
                                data:jsonSendData
                            }
                        )
                        // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                        .done(function(json) {
                            //alert("json : " + json);
                            var temp_result = json.result;  // the data type that was returned is the list.
                            //alert(temp_result);
                            if(temp_result != "no")
                            {
                                $("#" + g_count_chatbot_answer1_div.toString()).remove();
                                
                                g_count_chatbot_answer1_div = g_count_chatbot_answer1_div + 1;
                                answer_contents = "";
                                answer_contents =  answer_contents + '<div id="' + g_count_chatbot_answer1_div.toString()  + '" class="row_chatbot ms-1  mb-3  py-2  bg-white-smoke ">';
                                
                                answer_contents =  answer_contents + '<div style="width:65px">';
                                
                                //answer_contents =  answer_contents + '<div id="chatbox-avatar" class="chatbox-avatar">';
                                //answer_contents =  answer_contents + '<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_hdy5hmdn.json"  background="transparent" speed="1" style="width:100%;height:100%;" loop autoplay></lottie-player>';
                                //answer_contents =  answer_contents + '</div>';

                                answer_contents =  answer_contents + '<div class="feature bg-primary bg-gradient text-white rounded-circle" >';
                                answer_contents =  answer_contents + '<i class="bi bi-collection"></i>';
                                answer_contents =  answer_contents + '</div>';
                                
                                answer_contents =  answer_contents + '</div>';

                                g_count_chatbot_answer2_div = g_count_chatbot_answer2_div + 1;
                                answer_contents =  answer_contents + '<div id="' + "return_" +  g_count_chatbot_answer2_div.toString()  + '" style="width:70%" class="ml-2 small text-black-50 div-vertical-align ">';
                            
                                answer_contents =  answer_contents + '</div>';

                                answer_contents =  answer_contents + '</div>';

                                $("#chatbot_box").append(answer_contents);
                                startDisplayMessage(temp_result);
                            }
                            else{
                               
                            }
                        })
                        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                        .fail(function(xhr, status, errorThrown) {
                            alert("System Error ! Plase Call System Manager : " + errorThrown);
                        } );

            }
            var timer =0;
            var message_length = 0;
            var start_index = 0;
            var end_index = 5;
            var gmessage=""

            function wait(sec) {
                let start = Date.now(), now = start;
                while (now - start < sec * 1000) {
                    now = Date.now();
                }
            }


            function startDisplayMessage(message_){

                //message_ = message_.replace(/(\n|\r\n)/g, '<br>');
                //$("#return_"+g_count_chatbot_answer2_div.toString()).append(message_);
                //return true;

                if ( message_ == ""  ||  message_.length < 1 ){
                    return ;
                }

                gmessage = message_;
                console.log("gmessage : " + gmessage);
                

                message_length = gmessage.length;
                console.log("message_length : " + message_length);
                


                timer = setInterval(function () {
                    if ( start_index < message_length ) {
                        
                        console.log("start_index, end_index < message_length : " + start_index);
                        console.log("end_index, end_index < message_length : " + end_index);
                        let temp_str = gmessage.substring(start_index,end_index); 

                        start_index = start_index + 5;
                        end_index = end_index + 5 ;

                        console.log("temp_str, end_index < message_length : " + temp_str);
                        
                        if (temp_str.substring(0,1) == '\n') {
                            temp_str = temp_str.substring(1,temp_str.length);
                        }

                        temp_str = temp_str.replace(/(\n)/g, '<br>');
                        temp_str = $("#return_"+g_count_chatbot_answer2_div.toString()).html() + temp_str ;
                        $("#return_"+g_count_chatbot_answer2_div.toString()).html(temp_str);
                    }else {
                        let temp_str = gmessage.substring(start_index,end_index);
                        console.log("start_index : " + start_index);
                        console.log("end_index : " + end_index);
                        console.log("temp_str : " + temp_str);

                        if (temp_str.substring(0,1) == '\n') {
                            temp_str = temp_str.substring(1,temp_str.length);
                        }

                        temp_str = temp_str.replace(/(\n)/g, '<br>');
                        temp_str = $("#return_"+g_count_chatbot_answer2_div.toString()).html() + temp_str ;
                        $("#return_"+g_count_chatbot_answer2_div.toString()).html(temp_str);
                        stopDisplayMessage();
                        
                    }
                }, 80); 
            }
            
            function stopDisplayMessage(){
                clearInterval(timer);
                timer =0;
                message_length = 0;
                start_index = 0;
                end_index = 5;
                gmessage = "";
            }
        </script>
    </body>
</html>
