<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
         <!-- mobie -->
        <link href="/static/css/styles_mobile.css" rel="stylesheet">
        <!-- chatbot-->
        <link href="/static/css/chatbot_avatar.css" rel="stylesheet" />
        
        
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/openeduAI-logo.png" alt="..." /></a></div>
                    </div>
                    <!-- desktop menu -->
                    <div class="desktop_menu">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-info btn-sm px-3 me-sm-1 rounded-pill" href="http://openedu.com">LEARN</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-info btn-sm px-3 me-sm-1 rounded-pill" href="http://web.openedu.com">LMS</a>
                                    </div>
                                </li>
    
                                {% if userid %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item dropdown">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="dropdown-toggle btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" data-bs-toggle="dropdown" href="#">LOG IN</a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                            <li><a class="dropdown-item" href="/login_admin">Teacher</a></li>
                                            <li><a class="dropdown-item" href="/login_user">Student</a></li>
                                        </ul>
                                    </div>
                                </li>
    
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    
                    <!-- mobile menu -->
                    <div class="mobile_menu" >
                            <div class="header">
                                <div class="menu_btn"><a href="#">       
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNmgtMjR2LTRoMjR2NHptMCA0aC0yNHY0aDI0di00em0wIDhoLTI0djRoMjR2LTR6Ii8+PC9zdmc+">
                                </a>
                                </div>
                            </div>
                            <div class="menu_bg"></div>
                            <div class="sidebar_menu">
                                <div class="close_btn">
                                    <div class="close close2"></div>
                                </div>
                                <ul class="menu_wrap">
                                    <li><a href="http://openedu.com">LEARN</a></li>
                                    <li><a href="http://web.openedu.com">LMS</a></li>
                                    {% if userid %}
                                    <li><a href="/logout">LogOut</a></li>
                                    {% else %}
                                    <<li><a href="/login_admin">Teacher</a></li>
                                    <li><a href="/login_user">Student</a></li>
                                    <li><a href="/signup">SignUp</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </nav>            
            <!-- section 1-->
            <section class="py-3" id="features">
                <div class="container px-5 my-1">
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col col-lg-12 mb-5">
                                    <div class="my-1 text-center text-xl-start">
                                        <h4 class="display-7 fw-bolder text-black mb-2">Get unlimited access and create any educational result with LawGo. Taught by AI from LawGo.</h4>
                                    </div>
                                    <!-- Chatbot-->
                                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                            <div class="col-lg-12">
                                                <div class="row small text-white-50 mb-5">Experience the advanced artificial intelligence technology of LawGo!</div>
                                                <div class="row mb-2">
                                                    <!-- Chatbot sart-->
                                                    <div id="chatbox"  class="chatbox-holder-custom ">
                                                        <div  class="chatbox">
                                                          <div class="chatbox-top mb-5">
                                                            <div id="chatbox-avatar" class="chatbox-avatar ">
                                                                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_PBgNop.json"  background="transparent" speed="1" style="width:100%;height:100%px;" loop autoplay></lottie-player>
                                                            </div>
                                                            <div class="chat-partner-name">
                                                              <span class="status online"></span>
                                                              <a  href="#">Education Chatbot</a>
                                                            </div>
                                                          </div>
                                                          
                                                          <div id="answer" class="chat-messages">
                                                            <div class="message-box-holder">
                                                                <div class="message-name-bot">
                                                                    OpendEDU AI
                                                                </div>
                                                                <div class="message-box message-partner">
                                                                Hi. I am OpendEDU AI , Nice Meet you !
                                                                </div>
                                                            </div>

                                                          </div>

                                                        </div>
                                                      </div>
                                                    <!-- Chatbot end -->
                                                </div>
                                                <div class="input-group mb-2 ">
                                                    <textarea class="form-control" id="question" type="text" placeholder="" style="height: 3rem" data-sb-validations="required"></textarea>
                                                    <button class="btn btn-outline-light" id="button-get-answer" type="button">Get Answer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <div class="row gx-5 row-cols-1">
                                <div class="col col-lg-12 mb-5 div_center">
                                    <div class="my-5 col-lg-12">
                                        <h2 class="text-black mb-2">LawGo is an Education AI research and deployment company.</h2>
                                        <h2 class="text-black mb-2">Our mission is to ensure that artificial general intelligence</h2>
                                        <h2 class="text-black mb-2">benefits all of humanity.</h2>
                                    </div>
                                    <div class="my-5 col-lg-12">
                                        <h4 class="text-gray mb-2">Developing advanced artificial intelligence systems requires people from</h4>
                                        <h4 class="text-gray mb-2">a wide range of disciplines and backgrounds. At LawGo, we’re always looking for</h4>
                                        <h4 class="text-gray mb-2">curious minds that want to help us create safe and beneficial AI.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <!-- section 2-->
            <section class="py-2 bg-sky-blue">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-3 mb-5">
                            <div class="flex-shrink-0"><img class="img_loggo" src="/static/assets/images/openeduAI-logo.png" alt="..." /></div>
                        </div>
                        <div class="col-lg-8 mb-5  ms-5 mt-1">
                            <h3 class="text-white mb-2">Bringing the benefits of AI for education to everyone. At LawGo, we’re conducting research that advances the state-of-the-art in the field, applying AI to learning and to teaching, and developing tools to make AI for education accessible to everyone.</h3>
                            
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-8 mb-5  ms-5 mt-1">
                            <h6 class="text-white mb-3">AI is helping everywhere learning big and small.</h6>
                            <h3 class="text-white mb-4">We envision a world where anyone, anywhere has the power to create their life through AI learning.</h3>
                            <h5 class="text-white mb-4">Learning is the source of human progress.</h5>
                            
                            <h5 class="text-white mb-1">It has the power to transform our world from illness to health, from poverty to prosperity, </h5>
                            <h5 class="text-white mb-1">from conflict to peace. It has the power to transform our lives for ourselves, </h5>
                            <h5 class="text-white mb-1">for our families, and for our communities. No matter who we are or where we are, </h5>
                            <h5 class="text-white mb-4">learning empowers us to change and grow and redefine what’s possible.</h5>

                            <h5 class="text-white mb-1">That’s why access to the best learning is a right, not a privilege. </h5>
                            <h5 class="text-white mb-1">And that’s why LawGo is here. We partner with the best instructors</h5>
                            <h5 class="text-white mb-1">to bring the best learning to every corner of the world.</h5>
                            
                            
                            <h5 class="text-white mb-4">So that anyone, anywhere has the power to transform their life through learning.</h5>
                            <h5 class="text-white mb-4">info@openedu.ai</h5>
                        </div>
                        <div class="col-lg-3 mb-5">
                            <div class="flex-shrink-0"><img class="img_loggo2" src="/static/assets/images/openeduAI-logo2.png" alt="..." /></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script>
            
            var g_count_chatbot_message_div = 0 ;
            var timer =0;
            var message_length = 0;
            var start_index = 0;
            var end_index = 5;

            $(document).ready(function(){
 
                $('.menu_btn>a').on('click', function(){
                    $('.menu_bg').show(); 
                    $('.sidebar_menu').show().animate({
                        right:0
                    });  
                });
                $('.close_btn>div').on('click', function(){
                    $('.menu_bg').hide(); 
                    $('.sidebar_menu').animate({
                                                right: '-' + 50 + '%'},function(){
                                                $('.sidebar_menu').hide(); 
                                                }); 
                });

            });


            $("#button-try").click(function(){
                to_url = "/login";
                location.href = to_url;
            });

            $("#button-get-answer").click(function(){

                var jsonSendData = new Object() ;
                jsonSendData.question = $("#question").val() ;
                to_url = "/answer" ;

                answer_contents = "";
                answer_contents =  answer_contents + '<div class="message-box-holder">';
                answer_contents =  answer_contents + '<div class="message-box message-user">';
                answer_contents =  answer_contents + $("#question").val();
                answer_contents =  answer_contents + '</div>';
                answer_contents =  answer_contents + '<div class="message-name-user">';
                answer_contents =  answer_contents + 'yours';
                answer_contents =  answer_contents + '</div>';
                answer_contents =  answer_contents + '</div>';


                answer_contents = answer_contents + '<div id="progress" class="loader loader-6"></div>';
                $("#answer").append(answer_contents);
                $('#answer').scrollTop($('#answer')[0].scrollHeight);

                $.ajax(
                            {
                                url:to_url,
                                dataType:"json",
                                type:'POST',
                                data:jsonSendData
                            }
                        )
                        // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                        .done(function(json) {
                            //alert("json : " + json);
                            var temp_result = json.result;  // the data type that was returned is the list.
                            //alert(temp_result);
                            if(temp_result != "no")
                            {
                                //$("#answer").val(temp_result);
                                g_count_chatbot_message_div = g_count_chatbot_message_div + 1;
                                $("#progress").remove();
                                answer_contents = "";
                                answer_contents = '<div class="message-box-holder">';
                                answer_contents = answer_contents + '<div class="message-name-bot">' ;
                                answer_contents = answer_contents + 'OpendEDU AI';
                                answer_contents = answer_contents + '</div>';
                                answer_contents = answer_contents + '<div id="' + g_count_chatbot_message_div.toString()  + '"  class="message-box message-partner">';
                                answer_contents = answer_contents + '';
                                answer_contents = answer_contents + '</div>';

                                $("#answer").append(answer_contents);
                                startDisplayMessage(temp_result);
                            }
                            else{
                               
                            }
                        })
                        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                        .fail(function(xhr, status, errorThrown) {
                            alert("System Error ! Plase Call System Manager : " + errorThrown);
                        } );

            });

            function startDisplayMessage(message){
                if ( message == ""  ||  message.length < 1 ){
                    return ;
                }
                message_length = message.length;
                console.log("message_length : " + message_length);
                timer = setInterval(function () {
                    if ( end_index < message_length ) {
                        let temp_str = message.substr(start_index,end_index);
                        start_index = start_index + 5;
                        end_index = end_index + start_index ;
                        console.log("start_index : " + start_index);
                        console.log("end_index : " + end_index);
                        console.log("temp_str : " + temp_str);
                        $("#"+g_count_chatbot_message_div.toString()).append(temp_str);
                        console.log("g_count_chatbot_message_div.toString() : " + g_count_chatbot_message_div.toString());
                        $('#answer').scrollTop($('#answer')[0].scrollHeight);
                    }else {
                        let temp_str = message.substr(start_index,end_index);
                        console.log("start_index : " + start_index);
                        console.log("end_index : " + end_index);
                        console.log("temp_str : " + temp_str);
                        $("#"+g_count_chatbot_message_div.toString()).append(temp_str);
                        console.log("g_count_chatbot_message_div.toString() : " + g_count_chatbot_message_div.toString());
                        $('#answer').scrollTop($('#answer')[0].scrollHeight);
                        stopDisplayMessage();
                        
                    }
                }, 300); 
            }
            
            function stopDisplayMessage(){
                clearInterval(timer);
                timer =0;
                message_length = 0;
                start_index = 0;
                end_index = 5;
            }
        </script>
    </body>
</html>
