<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
        <!-- mobie -->
       <link href="/static/css/styles_mobile.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1 mt-c-2 ">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/lawgo_logo.png" alt="..." /></a></div>
                    </div>
                    <!-- desktop menu -->
                    <div class="desktop_menu">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                    </div>
                                </li>
                                
                                {% if userid %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <!--
                                <li class="nav-item dropdown">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="dropdown-toggle btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" data-bs-toggle="dropdown" href="#">LOG IN</a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                            <li><a class="dropdown-item" href="/login">Log In</a></li>
                                            <li><a class="dropdown-item" href="/login">Find Id</a></li>
                                        </ul>
                                    </div>
                                </li>
                                -->
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/login">LOG IN</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    
                    <!-- mobile menu -->
                    <div class="mobile_menu" >
                            <div class="header">
                                <div class="menu_btn"><a href="#">       
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNmgtMjR2LTRoMjR2NHptMCA0aC0yNHY0aDI0di00em0wIDhoLTI0djRoMjR2LTR6Ii8+PC9zdmc+">
                                </a>
                                </div>
                            </div>
                            <div class="menu_bg"></div>
                            <div class="sidebar_menu">
                                <div class="close_btn">
                                    <div class="close close2"></div>
                                </div>
                                <ul class="menu_wrap">
                                    {% if userid %}
                                    
                                    <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                    <li><a href="/logout">LogOut</a></li>
                                    {% else %}
                                    <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">SignUp</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </nav>           
            <!-- section main1-->
            <section class="pt-3" id="main1_section">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col col-lg-12 mb-5">
                                   
                                    <!-- Chatbot-->
                                    <aside class="bg-black bg-gradient rounded-3 p-4 mt-c-10">
                                        <div class="align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                            
                                            <div class="col-lg-12">
                                                <div class="input-group ">
                                                    <textarea class="form-control" style="height: 95%" id="question" type="text" placeholder="Enter message .."  data-sb-validations="required"></textarea>
                                                    <button  class="btn btn-outline-light"  style="width: 40px;text-align: left; margin-left:0px;" id="button-get-answer" type="button">
                                                        <svg style="text-align: left; margin-left:0px;" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 ml-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                            <line x1="22" y1="2" x2="11" y2="13"></line>
                                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <div class="row gx-5 row-cols-1">
                                <div class="col col-lg-12 mb-5 div_center mt-c-1 ">
                                    <div class=" col-lg-12" >
                                        <div class="text-center text-xl-start">
                                            <h4 class="display-6 fw-bolder text-black mb-2">Before consulting a lawyer, Preview the sentence in real time with AI system.</h4>
                                            
                                        </div>
                                    </div>
                                    <div class=" col-lg-12">
                                        <h2 class="text-black mb-2  mt-c-1">LawGO AI System
                                            “Ask your sentence in real time”.</h2>
                                        <h2 class="text-black mb-2">Our mission is to ensure that artificial general intelligence</h2>
                                        <h2 class="text-black mb-2">benefits all of humanity.</h2>
                                    </div>
                                    <div class=" col-lg-12 mt-c-1">
                                        <h4 class="text-gray mb-2">”Predict your case with intelligence,</h4>
                                        <h4 class="text-gray mb-2">LawGO AI System will provide you with a new law case process,</h4>
                                        <h4 class="text-gray mb-2">We are supporting over 60% of your 15min phone case consultation. “</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <!-- section main2-->
            <section class="bg-sky-brown pt-5 mt-c-10"   id="main2_section">
                <div class="container px-5 ">
                    <div class="row gx-5">
                        <div class="col-lg-3 mb-5">
                            <div class="flex-shrink-0"><img class="img_loggo" src="/static/assets/images/lawgo_new.png" alt="..." /></div>
                        </div>
                        <div class="col-lg-8 mb-5  ms-5 mt-1">
                            <h3 class="text-white mb-2">Each service lasts depending on your option. Attending community case study will give you the ideas how you can prevent with your case.

                                Join the conversation on a live chat platform hosted by helpful volunteer lawyers.</h3>
                            
                        </div>
                    </div>
                    <div class="desktop_bottom_text row gx-5 ms-8-a div_item_align_center">
                        <div class="col-lg-8 mb-5  ms-5 mt-1 ">
                            <h5 class="text-white mb-3">– 10 min phone consultation</h5>
                            <h5 class="text-white mb-3">– 30 min visiting consultation</h5>
                            <h5 class="text-white mb-3">– Online consultation</h5>
                            
                            <h5 class="text-white mb-1">– Community case study </h5>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section terms-->
            <section class="mt-5" id="terms_section">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div id="terms_div" class="col-lg-12">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; LawGo.ai</div></div>
                    <div class="col-auto">
                        <a class="link-light small"  onclick="loadUserPolicyandTerms('privacy');" href="javascript:void(0);">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small"  onclick="loadUserPolicyandTerms('terms');" href="javascript:void(0);" >Terms</a>
                    </div>
                </div>
            </div>
        </footer>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script>
            
            $(document).ready(function(){
                $("#terms_section").hide();
                
                $('.menu_btn>a').on('click', function(){
                    $('.menu_bg').show(); 
                    $('.sidebar_menu').show().animate({
                        right:0
                    });  
                });
                $('.close_btn>div').on('click', function(){
                    $('.menu_bg').hide(); 
                    $('.sidebar_menu').animate({
                                                right: '-' + 50 + '%'},function(){
                                                $('.sidebar_menu').hide(); 
                                                }); 
                });

            });

            $("#button-try").click(function(){
                to_url = "/login";
                location.href = to_url;
            });

            $("#button-get-answer").click(function(){

                question = $("#question").val() ;
                to_url = "/chatbot?question=" + question ;
                //alert(to_url);
                location.href = to_url;
                
            });
            function loadUserPolicyandTerms(kind) {
                $("#main1_section").hide();
                $("#main2_section").hide();

                if (kind=='terms') {
                    $("#terms_section").show();
                    var href = '/terms';
                    $("#terms_div").load(href);

                }
                if (kind=='privacy') {
                    $("#terms_section").show();
                    var href = '/privacy';
                    $("#terms_div").load(href);

                }
            }

        </script>
    </body>
</html>
