<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
        <!-- mobie -->
       <link href="/static/css/styles_mobile.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/openeduAI-logo.png" alt="..." /></a></div>
                    </div>
                    <!-- desktop menu -->
                    <div class="desktop_menu">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-info btn-sm px-3 me-sm-1 rounded-pill" href="http://openedu.com">LEARN</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-info btn-sm px-3 me-sm-1 rounded-pill" href="http://web.openedu.com">LMS</a>
                                    </div>
                                </li>
    
                                {% if userid %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item dropdown">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="dropdown-toggle btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" data-bs-toggle="dropdown" href="#">LOG IN</a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                            <li><a class="dropdown-item" href="/login_admin">Teacher</a></li>
                                            <li><a class="dropdown-item" href="/login_user">Student</a></li>
                                        </ul>
                                    </div>
                                </li>
    
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-primary btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    
                    <!-- mobile menu -->
                    <div class="mobile_menu" >
                            <div class="header">
                                <div class="menu_btn"><a href="#">       
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNmgtMjR2LTRoMjR2NHptMCA0aC0yNHY0aDI0di00em0wIDhoLTI0djRoMjR2LTR6Ii8+PC9zdmc+">
                                </a>
                                </div>
                            </div>
                            <div class="menu_bg"></div>
                            <div class="sidebar_menu">
                                <div class="close_btn">
                                    <div class="close close2"></div>
                                </div>
                                <ul class="menu_wrap">
                                    <li><a href="http://openedu.com">LEARN</a></li>
                                    <li><a href="http://web.openedu.com">LMS</a></li>
                                    {% if userid %}
                                    <li><a href="/logout">LogOut</a></li>
                                    {% else %}
                                    <<li><a href="/login_admin">Teacher</a></li>
                                    <li><a href="/login_user">Student</a></li>
                                    <li><a href="/signup">SignUp</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </nav>           
            <!-- section main1-->
            <section class="pt-3" id="main1_section">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <iframe src="http://34.173.188.56/moodle/login/index.php" style="width: 1200px;height:100%">
                            </iframe>
                        </div>
                    </div>
                </div>
            </section>
           
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; LawGo.ai</div></div>
                    <div class="col-auto">
                        <a class="link-light small"  onclick="loadUserPolicyandTerms('privacy');" href="javascript:void(0);">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small"  onclick="loadUserPolicyandTerms('terms');" href="javascript:void(0);" >Terms</a>
                    </div>
                </div>
            </div>
        </footer>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script>
            
            $(document).ready(function(){
                $("#terms_section").hide();
                
                $('.menu_btn>a').on('click', function(){
                    $('.menu_bg').show(); 
                    $('.sidebar_menu').show().animate({
                        right:0
                    });  
                });
                $('.close_btn>div').on('click', function(){
                    $('.menu_bg').hide(); 
                    $('.sidebar_menu').animate({
                                                right: '-' + 50 + '%'},function(){
                                                $('.sidebar_menu').hide(); 
                                                }); 
                });

            });

            $("#button-try").click(function(){
                to_url = "/login";
                location.href = to_url;
            });

            $("#button-get-answer").click(function(){

                question = $("#question").val() ;
                to_url = "/chatbot?question=" + question ;
                //alert(to_url);
                location.href = to_url;
                
            });
            function loadUserPolicyandTerms(kind) {
                $("#main1_section").hide();
                $("#main2_section").hide();

                if (kind=='terms') {
                    $("#terms_section").show();
                    var href = '/terms';
                    $("#terms_div").load(href);

                }
                if (kind=='privacy') {
                    $("#terms_section").show();
                    var href = '/privacy';
                    $("#terms_div").load(href);

                }
            }

        </script>
    </body>
</html>
