<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
        <!-- mobie -->
       <link href="/static/css/styles_mobile.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/lawgo_logo.png" alt="..." /></a></div>
                    </div>
                    <!-- desktop menu -->
                    <div class="desktop_menu">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                    </div>
                                </li>
                                {% if userid %}
                                

                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/login">LOG IN</a>
                                    </div>
                                </li>
    
                                <li class="nav-item">
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    
                    <!-- mobile menu -->
                    <div class="mobile_menu" >
                            <div class="header">
                                <div class="menu_btn"><a href="#">       
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNmgtMjR2LTRoMjR2NHptMCA0aC0yNHY0aDI0di00em0wIDhoLTI0djRoMjR2LTR6Ii8+PC9zdmc+">
                                </a>
                                </div>
                            </div>
                            <div class="menu_bg"></div>
                            <div class="sidebar_menu">
                                <div class="close_btn">
                                    <div class="close close2"></div>
                                </div>
                                <ul class="menu_wrap">
                                    {% if userid %}
                                    <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                    <li><a href="/logout">LogOut</a></li>
                                    {% else %}
                                    <li><a href="https://www.lawgo.ai/">LawGo</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">SignUp</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </nav>            
            <!-- section 1-->   
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-white rounded-3 py-5 px-4 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Sign Up</h1>
                            <p class="lead fw-normal text-muted mb-0">LawGo</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- * * SB Forms Contact Form * *-->
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- This form is pre-integrated with SB Forms.-->
                                <!-- To make this form functional, sign up at-->
                                <!-- https://startbootstrap.com/solution/contact-forms-->
                                <!-- to get an API token!-->
                                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id" type="text" placeholder="Enter your id..." data-sb-validations="required" />
                                        <label for="id">Email</label>
                                        <div class="invalid-feedback" data-sb-feedback="id:required">email is required.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="first_name" type="text" placeholder="Enter your first name..." data-sb-validations="required" />
                                        <label for="first_name">First Name</label>
                                        <div class="invalid-feedback" data-sb-feedback="id:required">First Name is required.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="last_name" type="text" placeholder="Enter your last name..." data-sb-validations="required" />
                                        <label for="last_name">Last Name</label>
                                        <div class="invalid-feedback" data-sb-feedback="id:required">Last Name is required.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="mobile" type="text" placeholder="Enter mobile number..." data-sb-validations="required" />
                                        <label for="mobile">Mobile</label>
                                        <div class="invalid-feedback" data-sb-feedback="mobile:required">mobile number is required.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" type="text" placeholder="Enter your password..." data-sb-validations="required" />
                                        <label for="password">Password</label>
                                        <div class="invalid-feedback" data-sb-feedback="password:required">password is required.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="repassword" type="text" placeholder="Enter your repassword..." data-sb-validations="required" />
                                        <label for="repassword">Repassword</label>
                                        <div class="invalid-feedback" data-sb-feedback="repassword:required">repassword is required.</div>
                                    </div>
                                    
                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Please check you id and password!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="button_signup" type="button">Sign Up</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script>
            
            $(document).ready(function(){
 
                $('.menu_btn>a').on('click', function(){
                    $('.menu_bg').show(); 
                    $('.sidebar_menu').show().animate({
                        right:0
                    });  
                });
                $('.close_btn>div').on('click', function(){
                    $('.menu_bg').hide(); 
                    $('.sidebar_menu').animate({
                                                right: '-' + 50 + '%'},function(){
                                                $('.sidebar_menu').hide(); 
                                                }); 
                });

                });


            $("#button_signup").click(function(){

                if ( $("#password").val() == "" || ( $("#password").val() != $("#repassword").val() ) )
                {
                    alert("Pleae check password !") ;
                    return ;
                }

                var jsonSendData = new Object() ;
                jsonSendData.id = $("#id").val() ;
                jsonSendData.mobile = $("#mobile").val() ;
                jsonSendData.first_name = $("#first_name").val() ;
                jsonSendData.last_name= $("#last_name").val() ;
                jsonSendData.password = $("#password").val() ;
                to_url = "/signupDo" ;

                console.log("jsonSendData :" + JSON.stringify(jsonSendData))
                $.ajax(
                            {
                                url:to_url,
                                dataType:"json",
                                type:'POST',
                                data:jsonSendData
                            }
                        )
                        // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                        .done(function(json) {
                            console.log("json.result :" + JSON.stringify(json.result))
                            console.log("json.data :" + JSON.stringify(json.data))
                            var result = json.result;  // the data type that was returned is the list.
                            //alert(temp_result);
                            if(result == "ok")
                            {
                                to_url = "/login" ;
                                location.href = to_url;
                            }
                            else{
                               
                            }
                        })
                        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                        .fail(function(xhr, status, errorThrown) {
                            alert("System Error ! Plase Call System Manager : " + errorThrown);
                        } );

            });
            
        </script>
    </body>
</html>
