@charset "UTF-8";

.img_loggo {
    width: 300px;
  }

.img_loggo2 {
  width: 400px;
}

.img_loggo3 {
    width: 200px;
  }
  
.div_center {
    text-align: center
}
.div_center_flex_justify {
  display: flex;
  justify-content: center;
}

.div-vertical-align {
  display:inline-block;
  display:flex;
  align-items:center; /* 방향이 row 기준: 세로 중앙 정렬*/
  height:100%;
  /*background:green;*/
}

.bg-sky-blue {
    --bs-bg-opacity: 1;
    background-color:  #00BFFF !important;
  }


.bg-sky-brown {
  --bs-bg-opacity: 1;
  background-color:  #7f221b !important;
}



.bg-header {
  --bs-bg-opacity: 1;
  background-color:  #1E90FF !important;
}

.bg-chatbox {
  --bs-bg-opacity: 1;
  background-color:  #deecf9 !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color:  #ffffff !important;
}

.text-gray {
    --bs-text-opacity: 1;
    color: #808080 ;
  }

.textarea-vertical-middle {
  vertical-align: middle;
}

.btn-center{
  width:500px;
  margin:auto;
  display:block;
}

.btn_size_5{
width:500px;
}

.btn_size_3{
  width:300px;
  }
  
.btn_size_2{
  width:200px;
  }

  /* css custom */

.mt-c-1 {
  margin-top: 1rem !important; }

.mt-c-2 {
  margin-top: 2rem !important; }

.mt-c-10 {
  margin-top: 10rem !important; }