

    @media (max-width: 600px) {
        .desktop_menu {
            display: none;
        }
        }

    @media (max-width: 600px) {
        .desktop_bottom_text {
            display: none;
        }
        }
    @media (min-width: 1000px) {
        .mobile_menu {
            display: none;
        }
    }
    .header{
        width: 100%;
        height: 40px;
        background: #f8f9fa;
    }
    .menu_btn{
        text-align: right;
        padding: 5px;
    }
    .menu_bg{
        width: 100%;
        height: 100%;
        background: #fefeff;
        position: absolute;
        top:0;
        display: none;
    }
    .sidebar_menu{
        display: none;
        width: 20%;
        height: 170px;
        background: #adb5bd ;
        position: absolute;
        top:0;
        right: -50%;
        
    }
    .close_btn{
        margin:0px;
        cursor: pointer
        
    }
    .close_btn > div{
        display: block;
    }
    .menu_wrap{
        list-style: none;
        padding: 20px 20px;   
    }
    .menu_wrap li a{
        color: #ffff;
        text-decoration: none;
    }
    .close {position:relative;float:left;display:inline-block;*display:inline;width:50px;height:50px;text-align:center;margin-right:20px;}


    .close1:after {content: "\00d7"; font-size:15pt;line-height:50px;}
    .close2:after {content: "\00d7"; font-size:25pt;line-height:45px;}
    .close3:after {content: "\00d7"; font-size:50pt;line-height:35px;}