<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LawGo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/custom.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div class="container px-5">
                    <div class="col col-lg-7 mb-1">
                        <div class="flex-shrink-0"><a href="/"><img class="img_loggo3" src="/static/assets/images/openeduAI-logo.png" alt="..." /></a></div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-link_name btn-sm px-3 me-sm-1 rounded-pill" href="#">{{userid}}</a>
                                </div>
                            </li>
                            

                            {% if userid %}
                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/logout">LOG OUT</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="https://www.lawgo.ai/">LAW GO</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/login">LOG IN</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-brown btn-sm px-3 me-sm-1 rounded-pill" href="/signup">SING UP</a>
                                </div>
                            </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>            
            <!-- section 1-->
            <section class="py-5" id="features">
                <div class="container px-5 my-4">
                    
                    <div class="row gx-5">
                        <div id="terms" class="col-lg-12">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; LawGo.ai</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="/privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/terms">Terms</a>
                    </div>
                </div>
            </div>
        </footer>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script>
            
            $(document).ready(function(){
                var href = '/terms';
                $("#terms").load(href);
            });

            $("#button-try").click(function(){
                to_url = "/login";
                location.href = to_url;
            });

            $("#button-get-answer").click(function(){

                question = $("#question").val() ;
                to_url = "/chatbot?question=" + question ;
                //alert(to_url);
                location.href = to_url;
                
            });

        </script>
    </body>
</html>
